<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <main class="main container">
        <section class="section">
            <h2>Contact Information</h2>
            <p>Please feel free to contact us using the information below:</p>
            <ul>
                <li>Email: <a href="mailto:shahkathanshah.com">shahkathanshah.com</a></li>
                <li>Phone: <a href="tel:+91 9898117731">+91 9898117731</a></li>
                <li>Address: c/8 rajmandir flat, narayan nagar road,<br> OPP. Anil show Room, Nr. Bethak, Naroda Ahmedabad-382330</li>
                <li>GitHub: <a href="https://github.com/kathan-shah1893">https://github.com/kathan-shah1893</a></li>     
            </ul>
        </section>
    </main>

    <footer class="footer">
        <!-- Footer content goes here -->
    </footer>
</body>
</html>